@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Poller+One');

* {
  box-sizing: border-box;
}

body {
  background: #000 url(img/galaxy.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  background-repeat: repeat-none;
  font-family: 'Poller One', cursive;
  color: #fff800; /* 18.68:! contrast ratio*/
}


/*
Try to simulate a ligthtsaber glow effect
*/
input:hover{
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
  
}

/* Reference: https://codepen.io/FelixRilling/pen/qzfoc */
@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes glow{
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/* Reference: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  
  }
}


/* Mobile-First? */
@media screen and (min-width: 320px){
    main input{
      min-width: 44px;
      min-height: 44px;
    }

    input[type=button] {
      min-width: 80px;
      min-height:46px;
    }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }

  .subtitle {
    color: #ff5f5f; /* 7.05:1 contrast ratio*/
    font-family: 'Pacifico', sans-serif;
    position: relative;
    bottom: 50px;
  }

  .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  .quiz {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    bottom: 65px;
  }

  .question-number{
    align-self: center;
  }

  .quiz p.question  {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  .quiz p.question label{
    display: inline-block;
  }

  #questions-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .answers{
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;  
    align-items: center;
    }

    .answers label{
      margin-bottom: 44px;
    }


    .incorrect {
      text-decoration: line-through;
      text-decoration-color: #000;
      color: #ff5f5f;
      animation: shake 0.82s cubic-bezier(.56,.07,.19,.97) both;
      perspective: 1000px;
    }

    footer p {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      text-shadow: 2px 2px 10px #fcff3c;
      align-self: flex-end;
      font-size: 14px;
    }

.results {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback{
  margin-bottom: 30px;
}

}

@media screen and (min-width: 768px){
.subtitle{
  position: relative;
  bottom: 45px;
  left: 100px;
  transform: rotate(-20deg);
  font-size: 1.8em;
}

#questions-form{
  margin-bottom: 40px;
}
.feedback img {
  float:left;
  margin: 4px 10px 0px 0px
}
}

@media screen and (min-width: 1024px){
  .answers{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;  
    align-items: center;
    }
    
    .answers label{
      display: inline-flex; 
      margin-right: 44px;
    }
    
}


